# Секретные ключи (Никогда не заливать!)
*.pem
*.key
.env

# Папки Python и виртуальное окружение
__pycache__/
*.pyc
venv/
.venv/

# Данные (обычно большие CSV не льют на гитхаб, но для мелких можно оставить)
# data/*.csv  <-- Раскомментируй, если CSV огромные

# Системный мусор
.DS_Store
.idea/
.vscode/

logs/
*/logs/